section{
    height: 450px;
    width: 100%;
}

.section-1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFFFFF;
    display: flex;
}

.section-1 .content {
    display: flex;
    align-items: center;
}

.section-text{
    width: 350px;
    margin-right: 200px;
    

}

.section-text p{
    text-align: justify;

}

.section-text h1{
    width: 350px;
    margin-right: 200px;
    font-size: 42px;
    font-weight: 1000;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.section-text-1 h1{
    width: 350px;
    margin-right: 200px;
    font-size: 42px;
    font-weight: 1000;
    text-transform: uppercase;
    color: #FFFFFF; 
    margin-bottom: 20px;

}

.section-text-1{
    width: 350px;
    margin-right: 300px;
    color: #FFFFFF; 
    text-align: justify;

}


.section-img{
    height: 350px;
    
    
}

.section-2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000000;
}

.section-2 .content {
    display: flex;
    align-items: center;
}

.section-3{
    background-color: #0B6121;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section-3 .content {
    display: flex;
    align-items: center;
}

.section-img-3{
    height: 299px;
    width: 540px;
    border-radius: 20px;
    object-fit: cover;
}

.section-text-3{
    width: 350px;
    margin-right: 0px;
}

.section-input-3{
    width: 350px;
    margin-left: 100px;
}

.section-text-3 h1{
    width: 350px;
    margin-right: 200px;
    font-size: 42px;
    font-weight: 1000;
    text-transform: uppercase;
    color: #ffffff; 
    margin-bottom: 20px;
}
input[type=text], input[type=password] {
      width: 165px;
      height: 36px;
      margin: 13px 0 0 -5px;
      margin-right: 10px; 
      border-radius: 5px;
      border: solid 1px #cbc9c9; 
      box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
      background: #fff; 
}

input[type=name] {
      width: 342px;
      height: 36px;
      margin: 13px 0 0 -5px;
      padding-left: 10px; 
      border-radius: 5px;
      border: solid 1px #cbc9c9; 
      box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
      background: #fff; 
      }

input[type=message] {
      width: 342px;
      height: 100px;
      margin: 13px 0 0 -5px;
      padding-left: 10px; 
      border-radius: 5px;
      border: solid 1px #cbc9c9; 
      box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
      background: #fff; 
      }

      
@media (max-width: 952px) {
    /* Estilos comuns para todas as seções */
.section {
    width: 100%;
    overflow: hidden;
    padding: 20px; /* Espaço entre as seções */
    max-height: auto; /* Altura automática */
}

.section-1, .section-2, .section-3 {
    display: flex;
    flex-direction: column; /* Empilhar os elementos verticalmente */
    align-items: center;
    background-color: #FFFFFF; /* ou a cor de fundo desejada */
    margin-bottom: 20px; /* Espaço entre as seções */
}

.section-1 .content, .section-2 .content, .section-3 .content {
    display: flex;
    flex-direction: column; /* Empilhar os elementos verticalmente */
    align-items: center;
    width: 100%; /* Ocupar toda a largura disponível */
    text-align: center; /* Centralizar o texto e inputs */
}

.section-text, .section-text-1, .section-text-3, .section-input-3 {
    width: 100%; /* Ocupar toda a largura disponível */
    margin: 20px 0; /* Espaço entre os elementos */
}

.section-img, .section-img-3 {
    max-width: 100%; /* A imagem não ultrapassará a largura da sua área */
    height: auto; /* A altura se ajustará automaticamente para manter a proporção */
}

/* Estilos específicos para a seção 1 */
.section-1 {
    justify-content: center; /* Centralizar a imagem verticalmente */
}

/* Estilos específicos para a seção 2 */
.section-2 {
    background-color: #000000;
}

/* Estilos específicos para a seção 3 */
.section-3 {
    background-color: #0B6121;
}

/* Media query para tornar responsivo a partir de 1100px */
    .section-1, .section-2, .section-3 {
        max-height: none; /* Remova a altura máxima para permitir que a seção cresça conforme o conteúdo */
    }


}





