*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer{
    background-color: #000000;
}

.footerContainer{
    display: flex;
    width: 100%;
    display: flex;
    padding: 70px 30px 20px;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 2rem;
    color: #0B6121;
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: #0B6121;
    transition: 0.5s;
}

.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

#footertext{
    margin: 30px 0;
}

#footertext ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

#footertext ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1rem;
    opacity: 0.7;
    transition: 0.5s;
}

#footertext ul li a:hover{
    opacity: 1;
}

.footerBottom{
    background-color: #0B6121;
    padding: 10px;
    text-align: center;
}

.footerBottom p{
    color: white;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

.footerLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footerLogo img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.footerDiv1{
    width: 70%;
}

.footerDiv2{
    width: 30%;
}

@media (max-width: 1050px) {
    #footertext ul{
        flex-direction: column;
    }

    #footertext ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
     .footerLogo{
        display: none;
        transition: 1s;
    }

    .footerDiv1{
    width: 100%;
    transition: 1s;
}

.footerDiv2{
    display: none;
}
}