#main-banner{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: black;
}

#sesi-senai{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 100px 50px 100px 50px;
}

#main-banner > div.left{
    width: 50%;
    height: 30rem;
    display: flex;
    align-items: center;
    padding: 40px 15px 40px 55px;
    justify-content: center;
    text-align: justify;
}

#main-banner > div.left > p {
    font-size: 18px;
    color: white;
}

#main-banner > div.right{
    width: 50%;
    height: fit-content;
    display: flex;
    justify-content: center;
    text-align: justify;
}

#main-banner > div.right > img{
    width: 60%;
    margin: 40px;
}

#season{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: #0B6121;
}

#season > div.left{
    width: 60%;
    height: fit-content;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#season > div.right{
    width: 40%;
    height: 25rem;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 40px 50px 40px 10px;
    text-align: justify;
}

#season > div.right > p{
    color: white;
    font-size: 18px;
}

#season > div.left > img{
    width: 70vw;
}

#first{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

#first > div.left {
    width: 50%;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#first > div.right{
    width: 50%;
    height: 30rem;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 40px 55px 40px 10px;
    text-align: justify;
}

#first > div.left > img{
    width: 50%;
}

#first > div.right > p{
    font-size: 18px;
}

@media only screen and (max-width: 1050px) {

  #main-banner{
    display: flex;
    flex-direction: column-reverse;
  }

  #sesi-senai {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

  #season{
    display: flex;
    flex-direction: column;
  }

  #season > div.left > img {
    width: 90%;
}

  #season > div.right {
    width: 100%;
    height: fit-content;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0px 50px 40px 50px;
    text-align: justify;
}

#season > div.left {
    width: 100%;
    height: fit-content;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

  #first{
    display: flex;
    flex-direction: column;
  }

  #main-banner > div.left{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 0px 40px 40px 40px;
    justify-content: center;
    text-align: justify;
}

#first > div.left > img {
    width: 40%;
}

#first > div.left {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-banner > div.left > p{
    color: white;
}

#main-banner > div.right{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    text-align: justify;
}

#first > div.right {
    width: 100%;
    height: fit-content;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 40px 40px 40px 40px;
    text-align: justify;
}
    
}

#who-section{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

#who-section > div.right{
    width: 60%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 40px 55px 40px 35px;
    justify-content: center;
    text-align: justify;
}

#who-section > div.right > p {
    font-size: 18px;
    align-items: center;
}

#who-section > div.right > h1 {
    font-size: 35px;
    align-items: start;
}

#who-section > div.left > img{
    width: 70%;
    height: fit-content;
}

#who-section > div.left{
    width: 40%;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

#mission-section{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: black;
}

#mission-section > div.left{
    width: 60%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 40px 55px 40px 35px;
    justify-content: center;
    text-align: justify;
}

#mission-section > div.left > p {
    font-size: 18px;
    align-items: center;
    color: white;
}

#mission-section > div.left > h1 {
    font-size: 35px;
    align-items: start;
    color: white;
}

#mission-section > div.right > img{
    width: 70%;
    height: fit-content;
}

#mission-section > div.right{
    width: 40%;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}