body{
    max-width: 100%;
    overflow-x: hidden;
}

html{
    overflow-x: hidden;
}

#main-banner{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: black;
}

#main-banner > div.left{
    width: 50%;
    height: 30rem;
    display: flex;
    align-items: center;
    padding: 40px 15px 40px 55px;
    justify-content: center;
    text-align: justify;
    animation: myLeft 2s ease 0s 1 normal none;
}

#main-banner > div.left > p {
    font-size: 18px;
    color: white;
}

#main-banner > div.right{
    width: 50%;
    height: fit-content;
    display: flex;
    justify-content: center;
    text-align: justify;
    animation: myRight 2s ease 0s 1 normal none;
}

#main-banner > div.right > img{
    width: 60%;
    margin: 40px;
}

#sesi-senai{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 100px 50px 100px 50px;
}

#sesi-senai > .left{
    max-width: 100%;
}

#sesi-senai > .right{
    max-width: 100%;
}

#sesi-senai > .left > img{
    height: 100%;
    object-fit: cover;
}
#sesi-senai > .right > img{
    height: 100%;
    object-fit: cover;
}


#season{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: #0B6121;
}

#season > div.left{
    width: 60%;
    height: fit-content;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#season > div.right{
    width: 40%;
    height: 25rem;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 40px 50px 40px 10px;
    text-align: justify;
}

#season > div.right > p{
    color: white;
    font-size: 18px;
}

#season > div.left > img{
    width: 70vw;
}

#first{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

#first > div.left {
    width: 50%;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#first > div.right{
    width: 50%;
    height: 30rem;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 40px 55px 40px 10px;
    text-align: justify;
}

#first > div.left > img{
    width: 50%;
}

#first > div.right > p{
    font-size: 18px;
}

@media only screen and (max-width: 1050px) {

.fade-item {
    display: none;
}

.esquerda {
    max-width: 100%;
    overflow-x: hidden;
}

.direita {
    max-width: 100%;
    overflow-x: hidden;
}

  #main-banner{
    display: flex;
    flex-direction: column-reverse;
  }

  #sesi-senai {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

#sesi-senai > .left{
    max-width: 100%;
    display: flex;
    justify-content: center;
}

#sesi-senai > .right{
    max-width: 100%;
    display: flex;
    justify-content: center;
}

#sesi-senai > .left > img{
    width: 80%;
    height: 100%;
}
#sesi-senai > .right > img{
    width: 80%;
    height: 100%;
}

  #season{
    display: flex;
    flex-direction: column;
  }

  #season > div.left > img {
    width: 90%;
}

  #season > div.right {
    width: 100%;
    height: fit-content;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0px 50px 40px 50px;
    text-align: justify;
}

#season > div.left {
    width: 100%;
    height: fit-content;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

  #first{
    display: flex;
    flex-direction: column;
  }

  #main-banner > div.left{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 0px 40px 40px 40px;
    justify-content: center;
    text-align: justify;
}

#first > div.left > img {
    width: 40%;
    margin: 20px 0px 0px 0px;
}

#first > div.left {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-banner > div.left > p{
    color: white;
}

#main-banner > div.right{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    text-align: justify;
}

#first > div.right {
    width: 100%;
    height: fit-content;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 40px 40px 40px 40px;
    text-align: justify;
}
    
}

@keyframes myLeft {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
/* animation: myLeft 2s ease 0s 1 normal none; */

@keyframes myRight {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
} 
/* animation: myRight 2s ease 0s 1 normal none; */

.fade-item {
    opacity: 0; /* Inicialmente, os itens estão escondidos */
    transition: all 1s; /* Transição suave */
}

.esquerda {
    max-width: 100%;
    transform: translateX(-100px);
}

.direita {
    max-width: 100%;
    transform: translateX(100px);
}