#main-banner{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: black;
}

#sesi-senai{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 100px 50px 100px 50px;
}

#main-banner > div.left{
    width: 50%;
    height: 30rem;
    display: flex;
    align-items: center;
    padding: 40px 20px 40px 40px;
    justify-content: center;
    text-align: justify;
}

#main-banner > div.left > p{
    color: white;
}

#main-banner > div.right{
    width: 50%;
    height: fit-content;
    display: flex;
    justify-content: center;
    text-align: justify;
}

#main-banner > div.right > img{
    width: 60%;
    margin: 40px;
}

#season{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: #0B6121;
}

#season > div.left{
    width: 60%;
    height: 30rem;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#season > div.right{
    width: 40%;
    height: 30rem;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 40px 40px 40px 20px;
    text-align: justify;
}

#season > div.right > p{
    color: white;
}

#season > div.left > img{
    width: fit-content;
}

#first{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

#first > div.left{
    width: 50%;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#first > div.right{
    width: 50%;
    height: 30rem;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 40px 40px 40px 20px;
    text-align: justify;
}

#first > div.left > img{
    width: 50%;
}

@media only screen and (max-width: 717px) {

  #main-banner{
    display: flex;
    flex-direction: column;
  }

  #sesi-senai{
    display: flex;
    flex-direction: column;
  }

  #season{
    display: flex;
    flex-direction: column;
  }

  #first{
    display: flex;
    flex-direction: column;
  }
    
}